@import "variables";
@import "mixins";
@import "reset";
@import "componentes/tarjeta";
@import "componentes/boton";
@import "componentes/navbar";


#tarjetas {
  display: flex;
  flex-wrap: wrap;
}

.tarjeta {
  margin: 20px;
}
